@font-face {
	src: url("Nunito-SemiBold.ttf");
}

* {
	-fx-font-family: 'Nunito Semibold';
}

#titleLabel {
	-fx-font-size: 100;
	-fx-translate-x: -258;
	-fx-translate-y: -185;
	-fx-font-family: Nunito;
	-fx-text-fill: black;
}

#twitterButton, #spotifyButton {
	-fx-background-color: transparent;
	-fx-text-fill: transparent;
	-fx-pref-width: 500;
	-fx-pref-height: 600;
	/*-fx-transition: -fx-opacity 1s;*/
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

#twitterButton:hover {
	-fx-background-color: #1DCAFF;
	-fx-text-fill: white;
}

#twitterButton:pressed {
	-fx-background-color: #17A3CF;
}

#spotifyButton:hover {
	-fx-background-color: #1ED760;
	-fx-text-fill: white;
}

#spotifyButton:pressed {
	-fx-background-color: #16AC4C;
}

#trackButton, #artistButton, #albumButton, #top20Button {
	-fx-background-color: #1ED760;
	-fx-font-size: 24;
	-fx-text-fill: white;
	-fx-pref-width: 250;
	-fx-pref-height: 150;
	/*-fx-transition: -fx-opacity 1s;*/
	-fx-border-color: black;
	-fx-border-width: .5px;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

#trackButton:hover, #artistButton:hover, #albumButton:hover, #top20Button:hover {
	-fx-background-color: #16AC4C;
}

#mainDisplayBox {
	/*-fx-background-color: black;*/*/
	-fx-font-size: 24;
	-fx-text-fill: white;
	-fx-pref-width: 350;
	-fx-pref-height: 600;
	/*-fx-transition: -fx-opacity 1s;*/
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
	-fx-background-image: url("gradient.png");
}

#spotifyBackButton {
	-fx-background-color: #000000;
	-fx-font-size: 24; /*MAX SIZE*/
	/*this rotates the whole button not just the text*/
	/*-fx-rotate: -90;*/
	-fx-text-fill: white;
	-fx-pref-width: 50;
	-fx-pref-height: 600;
	/*-fx-transition: -fx-opacity 1s;*/
	-fx-border-color: black;
	-fx-border-width: .5px;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
	text-align: center;
}

#spotifyBackButton:hover {
	-fx-background-color: #808080;
}

#top20TweetButton {
	-fx-background-color: transparent;
	/*-fx-background-color: #1ED760;*/
	-fx-pref-width: 300;
	-fx-pref-height: 52;
	-fx-font-size: 16;
	-fx-border-color: transparent;
	-fx-border-width: .5px;
	/*-fx-opacity: 1;*/
}

#top20TweetButton:hover {
	/*-fx-background-color: #1DCAFF;*/
	-fx-border-color: #1DCAFF;
	-fx-border-width: 3px;
	/*-fx-opacity: .5;*/
}

#spotifyTop20Label {
	-fx-font-size: 24;
}

#spotifyFillerLabel {
	-fx-font-size: 24;
	-fx-text-fill: transparent;
}

.button {
	-fx-text-fill: white;
}

.label {
	-fx-text-fill: white;
}

#twitterLayout {
	-fx-background-color: #1DCAFF;
	-fx-pref-width: 1000;
	-fx-pref-height: 600;

}

#twitterSearchLabel {
	-fx-font-size: 42;
}

#twitterSearchField {
	-fx-translate-y: -200;
}

#twitterBackButton {
	-fx-background-color: #1DCAFF;
	-fx-font-size: 24; /*MAX SIZE*/
	/*this rotates the whole button not just the text*/
	/*-fx-rotate: -90;*/
	-fx-text-fill: white;
	-fx-pref-width: 50;
	-fx-pref-height: 600;
	/*-fx-transition: -fx-opacity 1s;*/
	/*-fx-border-color: black;*/
	/*-fx-border-width: .5px;*/
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

#twitterBackButton:hover {
	-fx-background-color: #17A3CF;
}
