._2c1u ._2c1v{height:50px;margin-top:10px;width:100%}._2c1u ._5j5f{max-height:50px}._2c1u ._5j5l{margin-left:5px;margin-top:10px}._2c1u ._-bo{padding-bottom:10px}._2c1u ._2c9g ._4ebz{margin-bottom:4px}
._30e7 ._5j5f{border:1px solid rgba(0, 0, 0, .10);cursor:text;float:left;padding:10px 8px 6px;vertical-align:middle;width:90%}._30e7 ._5j5l{float:right}

#bootloader_y973K{height:42px;}.bootloader_y973K{display:block!important;}